apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: llm

resources:
  - configmap.yaml
  - deployment.yaml
  - service.yaml

commonLabels:
  app: llamastack-proxy
  component: proxy
