---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: llamastack
  namespace: llm
spec:
  selector:
    matchLabels:
      app: llamastack
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      annotations:
        instrumentation.opentelemetry.io/inject-sdk: "false"
      labels:
        app: llamastack
    spec:
      volumes:
        - name: run-config-volume
          configMap:
            name: run-config
            defaultMode: 420
        - name: cache
          emptyDir: {}
        - name: pythain
          emptyDir: {}
      containers:
        - resources: {}
          name: llamastack
          env:
            - name: OLLAMA_URL
              value: 'http://ollama:11434'
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "http://backend-collector.observability.svc.cluster.local:4318"
            - name: OTEL_EXPORTER_OTLP_PROTOCOL
              value: "http"
            - name: OTEL_TRACES_SAMPLER
              value: "parentbased_traceidratio"
            - name: OTEL_TRACES_SAMPLER_ARG
              value: "1"
            - name: OTEL_SERVICE_NAME
              value: "llama-stack"
            - name: INFERENCE_MODEL
              value: 'llama3-groq-tool-use:8b'
            - name: TAVILY_SEARCH_API_KEY
              valueFrom:
                secretKeyRef:
                  name: tavily-search-api-secret
                  key: TAVILY_SEARCH_API_KEY
          ports:
            - containerPort: 8321
              protocol: TCP
          volumeMounts:
            - name: pythain
              mountPath: /pythainlp-data
            - name: run-config-volume
              mountPath: /usr/local/lib/python3.12/site-packages/llama_stack/distributions/starter/run.yaml
              subPath: config.yaml
            # - name: llama-persist
            #   mountPath: /.llama
            - name: cache
              mountPath: /.cache
          terminationMessagePolicy: File
          image: 'docker.io/llamastack/distribution-starter:0.3.4'
      securityContext: {}
