---
apiVersion: opentelemetry.io/v1alpha1
kind: Instrumentation
metadata:
  name: central
  namespace: llm
spec:
  exporter:
    endpoint: http://backend-collector.observability.svc.cluster.local:4318
  env:
    - name: OTEL_EXPORTER_OTLP_INSECURE
      value: "true"
    - name: OTEL_EXPORTER_OTLP_PROTOCOL
      value: "http"
    - name: OTEL_TRACES_SAMPLER
      value: "parentbased_traceidratio"
    - name: OTEL_TRACES_SAMPLER_ARG
      value: "1"
  propagators:
    - tracecontext
    - baggage
  python:
    env:
      - name: OTEL_EXPORTER_OTLP_ENDPOINT
        value: http://backend-collector.observability.svc.cluster.local:4318
