apiVersion: v1
kind: Namespace
metadata:
  name: lets-party
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: quixsi-database
  namespace: lets-party
spec:
  storageClassName: openebs-single-replica-ssd
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: lets-party
  namespace: lets-party
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lets-party
  template:
    metadata:
      labels:
        app: lets-party
    spec:
      containers:
        - name: lets-party
          image: ghcr.io/quixsi/core:latest
          ports:
            - containerPort: 8080
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            runAsNonRoot: false
            seccompProfile:
              type: RuntimeDefault
          volumeMounts:
          - mountPath: /config
            name: database
      volumes:
        - name: database
          persistentVolumeClaim:
            claimName: quixsi-database
---
apiVersion: v1
kind: Service
metadata:
  name: lets-party
  namespace: lets-party
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
  selector:
    app: lets-party
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: lets-party
  namespace: lets-party
spec:
  ingressClassName: nginx
  rules:
    - host: quixsi.homelab
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: lets-party
                port:
                  number: 8080
